extends layout

block content
  h1= title
  
  // Wrapper
  #wrapper

    // USER LIST
    h2 Business List
    #busiList
      table
        thead
          th Url
          th Location ID
          th Count
          th Status
        tbody
    // /USER LIST

  // /WRAPPER